@media (max-width: 414px) {
  h1 {
    font-size: 45px;
  }
  .top {
    .top_left {
      padding: 18% 12%;
    }
  }
  body .header_wrap .logo_wrap,
  body div.header_lighten .logo_wrap {
    padding: 0 15px;
  }
  body .header_wrap .hamburger_menu,
  body div.header_lighten .hamburger_menu {
    width: 65px;
  }
  div {
    &.container-fluid {
      &.footer {
        padding: 60px 15px;
      }
    }
  }

}

@media (max-width: 475px) {
  th.comparison-header {
    padding: 5px;
  }

  td.comparison-cell {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .wrap {
    margin: 60px 0 40px 0;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 32px;
    line-height: 1.308em;
  }
  .button {
    display: inline-block;
  }
  .index {
    .wrap {
      margin-top: 60px;
    }
    .software_engineering {
      p {
        &.sub-h2 {
          padding: 0;
        }
      }
    }
    .success_stories {
      padding: 60px 0;
    }
  }
  .top {
    .top_left {
      padding: 120px 80px;
    }
    .top_info {
      width: auto;
      margin: 0;
    }
    .top_right-bar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .side-item {
      p {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
      }
    }
  }
  .blog_post-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .blog_post-title {
    text-align: center;
    font-size: 20px;
    line-height: 22px;
  }
  .blog_post-text h2,
  .blog_post-text h3 {
    font-size: 22px;
  }
  .blog_post-text {
    h3 {
      font-size: 18px;
    }
  }
  .blog_categories {
    -webkit-columns: 1;
    columns: 1;
  }

  body .header_wrap .hamburger_menu,
  body div.header_lighten .hamburger_menu {
    width: 85px;
  }

  body .header_wrap .hamburger_menu:not(.collapsed) ~ *.estimation,
  body div.header_lighten .hamburger_menu:not(.collapsed) ~ *.estimation {
    -webkit-transform: translateY(calc(100vh - 100%));
    transform: translateY(calc(100vh - 100%));
  }

  body .header_wrap nav,
  body div.header_lighten nav {
    height: 60px;
  }

  body .header_wrap .estimation,
  body div.header_lighten .estimation {
    position: absolute;
    background: #29c9ff;
    top: 0%;
    left: 0;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 0 #e0e5f0;
    box-shadow: inset 0 1px 0 #e0e5f0;
    visibility: hidden;
    border-left: none;
    opacity: 0;
    z-index: -1;
  }

  div {
    &.container-fluid {
      &.footer {
        padding: 90px 40px;
        display: block;
        .footer_l {
          .menu_item {
            margin: 0 0 40px 0;
            text-align: center;
            white-space: normal;
            a {
              width: 100%;
              padding: 0;
              margin-bottom: 30px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .footer_r {
          margin-bottom: 40px;
          .text {
            margin: 0 0 30px 0;
            text-align: center;
            p {
              margin: 0;
              text-align: center;
            }
          }
          .estimation {
            width: 100%;
          }
        }
        .copyright {
          text-align: center;
        }
      }
    }
  }
  .not-front-page {
    padding: 0;
  }

}

@media (max-width: 991px) {
  .wrap {
    margin: 80px 0 40px 0;
  }

  .index .wrap {
    margin-top: 80px;
  }

  .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .top_left, .top_right-bar {
      min-height: 0;
      height: auto;
    }

    .top_left {
      padding: 120px;
    }

    .plumb-all .img {
      width: 100%;
      height: 100%;
    }

    .top_info {
      margin: auto;
    }

    .top_right-bar {
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
    }

    .side-item {
      height: auto;
      padding: 60px 20px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;

      img {
        margin-top: 0px;
        -webkit-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
      }

      p {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
      }

      .button {
        margin-top: 20px;
        opacity: 1;
        visibility: visible;
        -ms-flex-negative: 0;
        flex-shrink: 0;
      }

    }
  }

  .index .software_engineering p.sub-h2 {
    width: 100%;
    padding: 0 60px;
  }

  .blog_post-date {
    margin-top: 10px;
  }

  .blog_pagination {
    text-align: center;
  }

  .blog_categories {
    -webkit-columns: 4;
    columns: 4;
    text-align: center;
    margin-top: 55px;
  }

  body .header_wrap nav,
  body div.header_lighten nav {
    height: 80px;
  }

  body .header_wrap .estimation,
  body div.header_lighten .estimation {
    width: auto;
    padding: 0 30px;
  }

  .not-front-page {
    padding: 0 30px;
  }
}

@media (min-width: 992px) {
  .logo-img {
    max-height: 50px !important;
  }

  .not-front-page {
    padding: 0 60px;
  }
}

@media (max-width: 1199px) {
  .blog_post {
    width: 100%;
  }
  .blog_post-image {
    width: 100%;
  }

  body .header_wrap,
  body div.header_lighten {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .hamburger_menu {
      display: block;
    }
  }
  body div.header_lighten {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .hamburger_menu {
      display: block;
    }
  }
}
