%estimationButton {
  a.button, a.btn, button.btn-primary {
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    padding: 12px 36px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background: #27aae1;
    color: white;
    text-decoration: none;

    &:hover {
      transition: .2s ease-in-out;
      background: #2190cf;
    }
  }
}

%estimation {
  text-align: center;
  transition: .2s ease-in-out;
  transform: translateY(0);
  padding: 0 30px;
  justify-content: center;

  @extend %estimationButton;
}

%button-outline-white {
  background: transparent;
  border: solid 2px white;
  color: white;
  transition: .2s ease-in-out;
  display: inline-flex;
  flex-shrink: 0;
  padding: 12px 36px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  line-height: 0.75em;

  &:hover {
    background: white;
    color: #0C2050;
  }
}

$primary-color: #2255ce;
$secondary-color: #29c9ff;
