@import "common-stuff.scss";

.toprow {
  height: 400px;
  background-position: top center;
  backround-size: cover;
}

.not-front-page {
  margin-bottom: 1em;

  h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    transition: .2s ease-in-out;

    &:hover {
      color: $secondary-color;
    }
  }

  .icon-wrapper {
    text-align: center;

    .about-icon {
      color: $primary-color;
    }
  }

  .wp-bootstrap-blocks-button {
    @extend %estimationButton;
  }
}

.wp-bootstrap-blocks-button {
  display: table;
  margin: auto;
  margin-bottom: 2em;

  a {
    box-sizing: border-box;
    font-size: 1em;
    padding: 1em 2em;
    background: $primary-color;
    color: #ffffff;
    border: 0;
    border-radius: 1.5em;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
    transition: .2s ease-in-out;

    &:hover {
      background: lighten($primary-color, 15%);
    }
  }
}

.has-text-align-center {
  text-align: center;
}

.article-card p {
  margin-bottom: 0;
}
