@import 'common-stuff.scss';

.review-item {
  margin-bottom: 1em;

  i.fa-quote-left {
    margin-right: 0.5em;
    color: $primary-color;
  }

  .align-items-center {
    margin-top: 0.5em;
  }

  .user-about {
    p {
      margin-bottom: 0;

      strong {
        color: $primary-color;
      }
    }

    i {
      color: $primary-color;
    }
  }
}
